.site-icon {
    height: 32px;
    vertical-align: middle;
}

div.tsd-page-toolbar, div.tsd-page-toolbar .table-wrap {
    height: 48px;
}

div.tsd-page-toolbar .table-cell {
    line-height: 48px;
}

.tsd-select .tsd-select-list li:before, .tsd-select .tsd-select-label:before, .tsd-widget:before {
    vertical-align: middle;
}

a.title.nav-link {
    font-weight: normal;
    padding: 0 8px;
}

a.title.nav-link:hover {
    color: #ef004a;
    text-decoration: none;
}

@media (max-width: 640px) {
    a.title.nav-verbose {
        display: none;
    }
}

div.container {
    max-width: unset;
    padding: 0 20px;
}

#tsd-filter, #tsd-filter .tsd-filter-group, #tsd-filter .tsd-select, .tsd-widget {
    height: unset;
}

body {
    font-family: "LominoSubset", "Lomino", "Open Sans", sans-serif;
}

@font-face {
    font-family: "LominoSubset";
    src: url("/fonts/lomino/lomino-regular-subset.woff2") format("woff2"), url("/fonts/lomino/lomino-regular-subset.woff") format("woff");
    font-weight: 400;
    font-display: fallback;
    font-style: normal;
    unicode-range: U+65- U+90, U+97-122;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-light.woff2") format("woff2"), url("/fonts/lomino/lomino-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-light-italic.woff2") format("woff2"), url("/fonts/lomino/lomino-light-italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-regular.woff2") format("woff2"), url("/fonts/lomino/lomino-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-regular-italic.woff2") format("woff2"), url("/fonts/lomino/lomino-regular-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-medium.woff2") format("woff2"), url("/fonts/lomino/lomino-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-medium-italic.woff2") format("woff2"), url("/fonts/lomino/lomino-medium-italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-bold.woff2") format("woff2"), url("/fonts/lomino/lomino-bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-bold-italic.woff2") format("woff2"), url("/fonts/lomino/lomino-bold-italic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-extrabold.woff2") format("woff2"), url("/fonts/lomino/lomino-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Lomino;
    font-display: fallback;
    src: url("/fonts/lomino/lomino-extrabold-italic.woff2") format("woff2"), url("/fonts/lomino/lomino-extrabold-italic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}

.tsd-index-panel ul.tsd-index-list {
    -moz-column-count: 5;
    -ms-column-count: 5;
    -o-column-count: 5;
    column-count: 5;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    column-gap: 20px;
    padding: 0;
    list-style: none;
    line-height: 1.333em;
}

@media (max-width: 900px) {
    .tsd-index-panel ul.tsd-index-list {
        -moz-column-count: 1;
        -ms-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    .tsd-index-panel ul.tsd-index-list {
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    .tsd-index-panel ul.tsd-index-list {
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .tsd-index-panel ul.tsd-index-list {
        -moz-column-count: 4;
        -ms-column-count: 4;
        -o-column-count: 4;
        column-count: 4;
    }
}